# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "8ecc04dd04b001bd1ec498d4f2e4d05f"
name = "CFReview"
application_url = "https://forestal-subaerially-hugh.ngrok-free.dev"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_metaobjects,write_metaobjects,read_product_listings,read_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://forestal-subaerially-hugh.ngrok-free.dev/auth/callback"
]

[app_proxy]
url = "https://forestal-subaerially-hugh.ngrok-free.dev/proxy"
subpath = "reviews-proxy"
prefix = "apps"
